#head-up {
  height: 55px;
}
#head-up .email {
  width: 170px;
  justify-content: space-between;
  display: inline-flex;
  height: 55px;
  align-items: center;
}
#head-up .email p {
  margin: 0;
}
#head-up .email i {
  height: 14px;
}
#head-up .phone {
  justify-content: space-between;
  width: 153px;
  display: inline-flex;
  height: 55px;
  align-items: center;
}
#head-up .phone p {
  margin: 0;
}
#head-up .phone i {
  height: 14px;
}
#head-up .social {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 140px;
}
#head-up .social a {
  text-decoration: none;
  color: black;
}
#head-up .language {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
#head-up .language span {
  font-size: 14px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
#head-up .language img {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
#head-up .login {
  display: inline-flex;
  height: 55px;
  align-items: center;
}
#head-up .login a {
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60px;
}
#head-up .login a i {
  height: 14px;
  transition: all 0.3s;
}
#head-up .login a p {
  margin: 0;
  transition: all 0.3s;
}
#head-up .login a:hover i, #head-up .login a:hover p {
  color: rgb(231, 171, 60);
}
#head-up .vertical-line {
  height: 55px;
  width: 0.5px;
  background-color: black;
  opacity: 0.25;
}
#head-up hr {
  margin: 0;
}
#head-up i {
  transition: all 0.3s;
}
#head-up i:hover {
  color: rgb(231, 171, 60);
}

#head-down {
  height: 130px;
}
#head-down .nav-logo {
  height: 130px;
  display: flex;
  align-items: center;
}
#head-down .nav-logo img {
  width: 100%;
}
#head-down .search {
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#head-down .search form {
  position: relative;
  width: 100%;
  height: 50px;
}
#head-down .search form input {
  width: 100%;
  height: 50px;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding-left: 10px;
  position: absolute;
  padding-right: 60px;
}
#head-down .search form button {
  height: 50px;
  width: 50px;
  border: 0;
  background-color: rgb(231, 171, 60);
  color: white;
  position: absolute;
  right: 0;
}
#head-down .icons {
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#head-down .icons .wishlist,
#head-down .icons .basket {
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#head-down .icons .wishlist a,
#head-down .icons .basket a {
  text-decoration: none;
  color: black;
  position: relative;
  display: inline-block;
  width: 25px;
  height: 25px;
}
#head-down .icons .wishlist a i,
#head-down .icons .basket a i {
  font-size: 25px;
  position: absolute;
}
#head-down .icons .wishlist a span,
#head-down .icons .basket a span {
  position: absolute;
  bottom: 15px;
  left: 15px;
  background-color: orange;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  color: white;
}/*# sourceMappingURL=home.css.map */