//Header

#head-up {
    height: 55px;

    .email {
        width: 170px;
        justify-content: space-between;
        display: inline-flex;
        height: 55px;
        align-items: center;

        p {
            margin: 0;
        }

        i {
            height: 14px;
        }
    }

    .phone {
        justify-content: space-between;
        width: 153px;
        display: inline-flex;
        height: 55px;
        align-items: center;

        p {
            margin: 0;
        }

        i {
            height: 14px;
        }
    }

    .social {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 140px;

        a {
            text-decoration: none;
            color: black;
        }
    }

    .language {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        span {
            font-size: 14px;
            user-select: none;
        }

        img {
            user-select: none;
        }
    }

    .login {
        display: inline-flex;
        height: 55px;
        align-items: center;

        a {
            text-decoration: none;
            color: black;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 60px;

            i {
                height: 14px;
                transition: all 0.3s;
            }

            p {
                margin: 0;
                transition: all 0.3s;
            }

            &:hover i,
            &:hover p {
                color: rgb(231, 171, 60);
            }
        }
    }

    .vertical-line {
        height: 55px;
        width: 0.5px;
        background-color: black;
        opacity: 0.25;
    }

    hr {
        margin: 0;
    }

    i {
        transition: all 0.3s;

        &:hover {
            color: rgb(231, 171, 60);
        }
    }
}

#head-down {
    height: 130px;
}